[submodule "submodules/RNALoops"]
	path = submodules/RNALoops
	url = https://github.com/RNABioInfo/RNALoops.git
[submodule "submodules/gapcM"]
	path = submodules/gapcM
	url = https://github.com/RNABioInfo/gapcM.git
